<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Message Tool</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <button class="btn btn-warning">import</button>
    <button class="btn btn-primary">export</button>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="row">
  <div class="col-md-2">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Phone List</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body" style="max-height:500px;overflow:auto">
        <ul *ngFor="let phone of phones">
          <li>{{phone.id}} --{{phone.phone}}</li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div class="col-md-10">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Message Edit</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!--<ckeditor [(ngModel)]="ckeditorContent" debounce="500">
        </ckeditor>-->
        <!-- /.ckeeditor-->
        <!--<span style="color:gray">content：{{ckeditorContent}}</span>-->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
