<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title" style="font-size:18px;font:bolder">Message Tool</h3>
    <div class="box-tools pull-right">
      <div class="has-feedback">
        <input type="text" class="form-control input-sm" placeholder="Search...">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <button class="btn btn-warning">import</button>
    <button class="btn btn-primary">export</button>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="row">
  <div class="col-md-2">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">短信列表</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body" style="max-height:500px;overflow:auto">
        <ul>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div class="col-md-10">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">短信编辑区</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div id="summernote"></div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
