<div class="card">
  <div class="card-header">
    Smart Table
    <hr>
    <div class="row">
      <input #search class="search" type="text" class="form-control col-md-8" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
      <div class="col-md-4">
        <button type="button" class="btn btn-success" (click)="reset()" style="display:block;margin:5px">Reset</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
        (createConfirm)="onCreateConfirm($event)">
      </ng2-smart-table>
    </div>
  </div>
  <div class="card-footer">Licenced By SK</div>
</div>
